<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>prodavnica.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddKategorijaServlet</servlet-name>
        <servlet-class>prodavnica.servlets.AddKategorijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kategorija</servlet-name>
        <servlet-class>prodavnica.servlets.Kategorija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProizvodServlet</servlet-name>
        <servlet-class>prodavnica.servlets.AddProizvodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniProizvodServlet</servlet-name>
        <servlet-class>prodavnica.servlets.IzmeniProizvodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniKategorijuServlet</servlet-name>
        <servlet-class>prodavnica.servlets.IzmeniKategorijuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveKategorijaServlet</servlet-name>
        <servlet-class>prodavnica.servlets.RemoveKategorijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProizvodServlet</servlet-name>
        <servlet-class>prodavnica.servlets.RemoveProizvodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/prodavnica/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddKategorijaServlet</servlet-name>
        <url-pattern>/prodavnica/AddKategorijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kategorija</servlet-name>
        <url-pattern>/prodavnica/Kategorija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProizvodServlet</servlet-name>
        <url-pattern>/prodavnica/AddProizvodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniProizvodServlet</servlet-name>
        <url-pattern>/prodavnica/IzmeniProizvodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniKategorijuServlet</servlet-name>
        <url-pattern>/prodavnica/IzmeniKategorijuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveKategorijaServlet</servlet-name>
        <url-pattern>/prodavnica/RemoveKategorijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProizvodServlet</servlet-name>
        <url-pattern>/prodavnica/RemoveProizvodServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
